
*.dvi
*.log
*.out
*.aux
*.toc
*.gz
texsrc/
#====================#
# Folders with codes #
#====================#
1_Prima_Lezione/
2_Seconda_Lezione/
3_Terza_Lezione/
4_Quarta_Lezione/
Calcolo_parallelo/
Diagonalizzazione/
FFT/
Fit/
img/
Integrali/
interpolazioni/
Machine_learning/
Montecarlo/
neural_network_from_scratch/
obj_prog/
ODE_BVP/
ODE_IVP/
Ottimizzazione/
PDE/
Presa_dati_da_foto/
Propagazione_errori/
SDE/
Sistemi_lineari/
Zeri_funzioni/
